[submodule "labdeemergencia1ed"]
	path = labdeemergencia1ed
	url = https://github.com/associacaosilo/labdeemergencia1ed.git
[submodule "labdeemergencia2ed"]
	path = labdeemergencia2ed
	url = https://github.com/associacaosilo/labdeemergencia2ed.git
[submodule "labdeemergencia3ed"]
	path = labdeemergencia3ed
	url = https://github.com/associacaosilo/labdeemergencia3ed.git
